Source: pika-welcome
Section: utils
Priority: optional
Maintainer: International Arms dealers <chipichipi@chapachapa.com>
Build-Depends: build-essential,
               debhelper,
               cargo,
               libadwaita-1-dev,
               libgtk-4-dev,
               desktop-file-utils,
               make,
               libvte-2.91-gtk4-dev
Rules-Requires-Root: no

Package: pika-welcome
Architecture: any
Depends: ${shlibs:Depends}
Description: A frontend in GTK 4 and Libadwaita for initial user setup in pika.
