#! /usr/bin/make -f

## See debhelper(7) (uncomment to enable).
## Output every command that modifies files on the build system.
export DH_VERBOSE = 1

export PATH := "/root/.cargo/bin:$(PWD):$(PATH)"

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/pika-first-setup-gtk4/usr/bin/
	/root/.cargo/bin/cargo fetch
	/root/.cargo/bin/cargo build --release
	cp -vf target/release/pika-first-setup-gtk4 debian/pika-first-setup-gtk4/usr/bin/
	chmod 755 debian/pika-first-setup-gtk4/usr/bin/pika-first-setup-gtk4
	mkdir -p debian/pika-first-setup-gtk4/usr/share/glib-2.0/schemas/
	mkdir -p debian/pika-first-setup-gtk4/usr/lib/pika/pika-first-setup-gtk4/scripts/
	cp -rvf data/scripts/*.sh debian/pika-first-setup-gtk4/usr/lib/pika/pika-first-setup-gtk4/scripts/
	chmod 755 debian/pika-first-setup-gtk4/usr/lib/pika/pika-first-setup-gtk4/scripts/*.sh
	cp data/com.github.pikaos-linux.pikafirstsetup.gschema.xml debian/pika-first-setup-gtk4/usr/share/glib-2.0/schemas/
	mkdir -p debian/pika-first-setup-gtk4/usr/share/applications
	cp -vf data/com.github.pikaos-linux.pikafirstsetup.desktop  debian/pika-first-setup-gtk4/usr/share/applications/
	mkdir -p debian/pika-first-setup-gtk4/usr/share/icons/hicolor/scalable/apps
	cp -vf data/com.github.pikaos-linux.pikafirstsetup.svg debian/pika-first-setup-gtk4/usr/share/icons/hicolor/scalable/apps/
