#! /usr/bin/make -f

## See debhelper(7) (uncomment to enable).
## Output every command that modifies files on the build system.
export DH_VERBOSE = 1

export PIKA_BUILD_ARCH = $(shell cat ../pika-build-arch)
export PATH := $(PATH):/root/.cargo/bin

override_dh_prep:
# amd64 build prep
ifeq (amd64-v3,$(PIKA_BUILD_ARCH))
export RUSTFLAGS = -C target-cpu=x86-64-v3 -C opt-level=3 -C lto=fat -C embed-bitcode -C codegen-units=1
endif

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/pika-welcome/usr/bin/
	/root/.cargo/bin/cargo fetch
	/root/.cargo/bin/cargo build --release
	cp -vf target/release/pika-welcome debian/pika-welcome/usr/bin/
	chmod 755 debian/pika-welcome/usr/bin/pika-welcome
	cp -vf data/bin/pika-welcome-autostart debian/pika-welcome/usr/bin/
	chmod 755 debian/pika-welcome/usr/bin/pika-welcome-autostart
	mkdir -p debian/pika-welcome/usr/share/glib-2.0/schemas/
	mkdir -p debian/pika-welcome/usr/share/
	mkdir -p debian/pika-welcome/usr/lib/pika/pika-welcome/scripts/
	cp -rvf data/scripts/*.sh debian/pika-welcome/usr/lib/pika/pika-welcome/scripts/
	chmod 755 debian/pika-welcome/usr/lib/pika/pika-welcome/scripts/*.sh
	cp data/com.github.pikaos-linux.pikawelcome.gschema.xml debian/pika-welcome/usr/share/glib-2.0/schemas/
	mkdir -p debian/pika-welcome/usr/share/applications
	cp -vf data/com.github.pikaos-linux.pikawelcome.desktop  debian/pika-welcome/usr/share/applications/
	mkdir -p debian/pika-welcome/etc/xdg/autostart
	cp -vf data/pika-welcome-autostart.desktop  debian/pika-welcome/etc/xdg/autostart/
	mkdir -p debian/pika-welcome/usr/share/icons/hicolor/scalable/apps
	cp -vf data/com.github.pikaos-linux.pikawelcome.svg debian/pika-welcome/usr/share/icons/hicolor/scalable/apps/
	cp -rvf data/icons debian/pika-welcome/usr/share/
	mkdir -p debian/pika-welcome/usr/share/pika-welcome
	cp -rvf data/config debian/pika-welcome/usr/share/pika-welcome/
