[Desktop Entry]
Type=Application
Name=PikaOS Initial User Setup
Exec=pika-welcome
Hidden=false
NoDisplay=true
Icon=com.github.pikaos-linux.pikawelcome
X-GNOME-Autostart-enabled=true
X-KDE-AutostartScript=true
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK