[Desktop Entry]
Type=Application
Name=Welcome to PikaOS
Exec=pika-welcome
Hidden=false
Icon=com.github.pikaos-linux.pikawelcome
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK